doctype
html(lang="ja")
  head
    meta(charset="utf-8")
    link(rel="stylesheet" href="./css/index.css")
    title scotlandyard-2
  body
    #vue-app-root: router-view

    script(src="./js/index.js")
